:root {
  font-size: 30px
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: pink;
  font-family: monospace;
}

h1 {
  margin-bottom: 1rem;
}

form {
  margin-bottom: 1rem;
}

ul li.completed {
  text-decoration: line-through;
}